@charset "utf-8";
/* CSS Document */
*{margin:0;
 padding:0;
 }

.title{
	margin:0 auto;
	width:900px;
	height:200px;
	background-color:#0CF;
}
.title h1{
	font-family:"黑体";
	text-align:center;
	font-size:80px;
	color:#FFF;
}
.title h2{
	text-align:center;
	font-family:"微软雅黑";
	font-size:70px;
	color:#FFF;
	}
.dierhang{
	margin:0 auto;
	width:900px;	
	font-size:25px;
	}
.tongzhi{
	/*background-color:#0F0;*/
	float:left;
	font-family:"仿宋_GB2312";
	margin-top:10px;
	}
.shijian{
	font-family:"黑体";
/*	background-color:#F00;*/
	float:right;
	margin-top:10px;
} 

.daohang{
	margin:0 auto;
	width:900px;
	height:20px;
	background-color:#F00;
	padding:5px 0px;
	}
.daohang  li{
	  float:left;
	  padding:5px 10px 10px 5px;
	  list-style-type: none;/*去除项目符号*/
	  text-align:center;/*把文本排列到中间*/
	  font-family:"微软雅黑"；/*设置字体*/
	  }
.daohang a {
text-decoration:none;
}
ul a  ,ul a:visited{
color:#000000;
}
ul a:hover,ul a:active{
color:#ffffff;display:block;
}